header {
	font-family:			@dHeaderFamily;
	height:					220px;
	background:				#333;
	color:					#FEFEFE;
	padding:				0 10px;
	.border-radius(0, 0, 10px, 10px);
	p {
		.font-size(60);
	}
	small {
		border-top:				1px solid #EEE;
		padding:				(@baseline/4) 0;
		text-align:				right;
		line-height:			0.5em;
		display:				block;
	}
}

label {
	text-align:			right;
	display:			inline-block;
	width:				120px;
	margin:				0 1em 0 0;
}