/**
 * normalize.css
 * ============================================================================
 * 
 * git.io/normalize
 *
 * Although this uses Normalize.css, I've added and changed some of the code to
 * better suite my own practices and the Templatie structure
 *
 *
 * Content
 * ----------------------------------------------------------------------------
 * - HTML5 Display Definitions
 * - IE6-9 and FF3 Specifics
 * - Display Audio with Controls
 * - Base
 * - Links
 * - Navigation Block
 * - Embedded Content
 * - Figures
 * - Forms
 * - Tables
 *
 * 
 * License
 * ----------------------------------------------------------------------------
 * MIT License
 */


/**
 * HTML5 Display Definitions
 * ----------------------------------------------------------------------------
 */
    
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}


/**
 * IE6-9 and FF3 Specifics
 * ----------------------------------------------------------------------------
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
    

/**
 * Display Audio with Controls
 * ----------------------------------------------------------------------------
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
    

[hidden] {
    display: none;
}


/**
 * Base
 * ----------------------------------------------------------------------------
 */

@include establish-baseline;

html {
    $font-size: 100% * $base-font-size / $browser-default-font-size;

    -webkit-text-size-adjust: $font-size;
    -ms-text-size-adjust: $font-size;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: $base-font-color;
    background: $base-doc-background;
    font-family: $base-font-family;
}

html,
body {
    margin: 0;
}


body { // Added this for semantic.gs
    width: 100%;
    @include clearfix();
}

::selection { 
    color: $selection-color;
    background: $selection-background;
    text-shadow: none;
}


/**
 * Links
 * ----------------------------------------------------------------------------
 */

a:focus {
    outline: thin dotted $base-link-color;
}
a:active,
a:hover {
    outline: 0;
    color: $base-link-color-hover;
}

    
/**
 * Navigation Block
 * ----------------------------------------------------------------------------
 */
nav {
    ul,
    li {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }
}


/**
 * Embedded Content
 * ----------------------------------------------------------------------------
 */

img {
  max-width: 100%; /* Set a maxium relative to the parent */
  width: auto \ 9; /* IE7-8 need help adjusting responsive images */
  height: auto; /* Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}


/**
 * Figures
 * ----------------------------------------------------------------------------
 */
figure {
    margin: 0;
}


/**
 * Forms
 * ----------------------------------------------------------------------------
 */

form {
    margin: 0;
}

fieldset {
    border: 1px solid $base-border-color;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,
input,
select,
textarea {
    font-size: 100%;
    font-family: sans-serif;
    margin: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    *vertical-align: middle;
    
    &:focus {
        outline: 0;
    }
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

.disabled,
button[disabled],
input[disabled] {
    cursor: default;
}

.checkbox,
.radio,
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
textarea,
select {
    color: $base-font-color;
}
        
    
/**
 * Tables
 * ----------------------------------------------------------------------------
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}