/**
 * Typography
 * ============================================================================
 *
 *
 * Content
 * ----------------------------------------------------------------------------
 * - Baseline
 * - Headers
 * - Quote
 * - Monospaced
 */


/**
 * Baselines
 * ----------------------------------------------------------------------------
 */

@include establish-baseline;

html,
button,
input,
select,
textarea {
    font-family: $base-font-family;
    color: $base-font-color;;
}


/**
 * Headers
 * ----------------------------------------------------------------------------
 */

h1 {
    @include adjust-font-size-to(32px);
}

h2 {
    @include adjust-font-size-to(26px);
}
    
h3 {
    @include adjust-font-size-to(22px);
}

h4 {
    @include adjust-font-size-to(18px);
}


/**
 * Quote
 * ----------------------------------------------------------------------------
 */

blockquote {
    @include leader(2);
    margin-right: 2em;
    @include trailer(2);
    margin-left: 3em;
    font-style: italic;
    @include adjust-font-size-to(18px);
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}


/**
 * Monospaced
 * ----------------------------------------------------------------------------
 */

code,
kbd,
pre,
samp {
    font-family: $base-mono-font-family;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/**
 * Inline
 * ----------------------------------------------------------------------------
 */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/**
 * Links
 * ----------------------------------------------------------------------------
 */

a {
    @include link-colors($base-link-color, $base-link-color-hover);
    @include hover-link;

    &:focus {
      outline: thin dotted;
    }

    a:hover, a:active {
      outline: 0;
    }
}


/**
 * Lists
 * ----------------------------------------------------------------------------
 */

dl,
menu,
ol,
ul {
    @include leader();
    @include trailer();
    margin-left: 1em;

    ul,
    ol,
    dl {
        @include leader(0);
        @include trailer(0);
        margin-left: 0;
    }
}

dd {
    padding: 0 0 0 40px;
    margin: 0;
}