/******************************************************************************
 * HTML5 Display
 *****************************************************************************/
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/******************************************************************************
 * Base
 *****************************************************************************/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
}
/******************************************************************************
 * Embedded Content
 *****************************************************************************/
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}
/******************************************************************************
 * Figures
 *****************************************************************************/
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/******************************************************************************
 * Type
 *****************************************************************************/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.5em;
  color: #404040;
}
body,
button,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/******************************************************************************
 * Headers
 *****************************************************************************/
h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  padding: 5px 0;
  margin: 0;
  color: #000000;
  font-weight: 700;
}
h1 small,
h2 small,
h3 small,
h4 small {
  color: #a6a6a6;
}
h1 {
  font-size: 30px;
  font-size: 1.875rem;
}
h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
h4 {
  font-size: 20px;
  font-size: 1.25rem;
}
aside h4 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #404040;
  line-height: normal;
  padding: 0;
  margin-bottom: -10px;
  font-weight: normal;
}
p {
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 0;
  margin: 0;
  text-align: justify;
  line-height: 1.5em;
}
hr {
  border: 0;
  margin: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}
abbr[title] {
  border-bottom: 1px dotted #a6a6a6;
}
/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b, strong {
  font-weight: 700;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before, q:after {
  content: '';
}
blockquote {
  margin: 1em 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #8d8d8d;
}
blockquote:before {
  font-size: 75px;
  font-size: 4.6875rem;
  color: #737373;
  content: '“';
  margin-top: -10px;
  margin-left: -40px;
  float: left;
}
blockquote, blockquote p {
  font-size: 18px;
  font-size: 1.125rem;
}
blockquote cite {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: -1em;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: right;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/******************************************************************************
 * List
 *****************************************************************************/
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}
li, dl {
  line-height: 1.5em;
  margin: 0.5em 0;
  font-size: 16px;
  font-size: 1rem;
}
dd {
  margin: 0 0 0 40px;
}
/******************************************************************************
 * Link
 *****************************************************************************/
a {
  color: #cc0011;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover, a:active {
  outline: 0;
  color: #cc0011;
}
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/******************************************************************************
 * Code
 *****************************************************************************/
code,
pre,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 14px;
  font-size: 0.875rem;
}
code {
  background-color: #FEFEFE;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}
pre {
  background: #FEFEFE;
  color: #556270;
  display: block;
  padding: 10px;
  margin: 5px auto;
  line-height: 1.5em;
  border: 1px solid #CCC;
  width: 95%;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/******************************************************************************
 * Example area
 *****************************************************************************/
.eg {
  background: #FEFEFE;
  color: #000;
  display: block;
  padding: 10px;
  margin: 10px auto;
  line-height: 1.5em;
  border: 1px solid #CCC;
  width: 600px;
  margin-left: -10px;
}
form, fieldset, legend {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  line-height: normal;
}
input[type='checkbox'], input[type='radio'] {
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type='checkbox']:focus, input[type='radio']:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input {
  height: 1.5em;
  width: 200px;
}
input, textarea, select {
  display: inline-block;
  padding: 2px;
  line-height: 1.5em;
  color: #404040;
  border: 1px solid #CCC;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input.error, textarea.error, select.error {
  -webkit-box-shadow: inset 0 20px 20px rgba(150, 0, 0, 0.1);
  -moz-box-shadow: inset 0 20px 20px rgba(150, 0, 0, 0.1);
  box-shadow: inset 0 20px 20px rgba(150, 0, 0, 0.1);
}
label {
  display: block;
  width: auto;
  cursor: pointer;
  height: 1.5em;
  line-height: 1.5em;
}
label input {
  float: left;
  margin: auto 5px;
}
.complex label {
  display: inline-block;
  width: 125px;
  text-align: right;
  margin-right: 10px;
}
.complex .submit {
  margin-left: 140px;
}
select {
  height: 28px;
  line-height: 28px;
  padding: 4px;
}
select[multiple='multiple'] {
  height: inherit;
}
input:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: #BBB;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(100, 100, 100, 0.7);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(100, 100, 100, 0.7);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(100, 100, 100, 0.7);
}
input:focus.error, textarea:focus.error, select:focus.error {
  -webkit-box-shadow: inset 0 1px 3px rgba(200, 0, 0, 0.1), 0 0 8px rgba(200, 0, 0, 0.7);
  -moz-box-shadow: inset 0 1px 3px rgba(200, 0, 0, 0.1), 0 0 8px rgba(200, 0, 0, 0.7);
  box-shadow: inset 0 1px 3px rgba(200, 0, 0, 0.1), 0 0 8px rgba(200, 0, 0, 0.7);
}
*[disabled], *[readonly] {
  background-color: #F5F5F5;
  border-color: #DDD;
  cursor: not-allowed;
  color: #666666;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
}
a.btn {
  text-decoration: none;
}
.btn,
button,
input[type='submit'],
input[type='reset'] {
  *overflow: visible;
  cursor: pointer;
  display: inline-block;
  padding: 2px 14px;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  color: #404040;
  border: 1px solid #B3B3B3;
  width: auto;
  height: auto;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
  font-size: 16px;
  font-size: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
}
.btn:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn.primary,
button.primary,
input[type='submit'].primary,
input[type='reset'].primary {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-color: #518800;
  background-color: #538801;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#a2dd50, #72ba02 25%, #538801);
  background-image: -moz-linear-gradient(top, #a2dd50, #72ba02 25%, #538801);
  background-image: -ms-linear-gradient(#a2dd50, #72ba02 25%, #538801);
  background-image: -o-linear-gradient(#a2dd50, #72ba02 25%, #538801);
  background-image: linear-gradient(#a2dd50, #72ba02 25%, #538801);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2dd50', endColorstr='#538801', GradientType=0);
}
.btn:active,
button:active,
input[type='submit']:active,
input[type='reset']:active {
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
}
.btn.disabled,
button.disabled,
input[type='submit'].disabled,
input[type='reset'].disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
:root .btn,
:root button,
:root input[type='submit'],
:root input[type='reset'] {
  border-radius: 0 \0;
}
.btn::-moz-focus-inner,
button::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.alert-msg {
  position: absolute;
  top: 40%;
  left: 35%;
  margin: 0 auto;
  padding: 20px 30px;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: 700;
  border-color: 1px solid #CCC;
  width: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 0 100px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 0 100px rgba(0, 0, 0, 0.5);
}
.no-js .alert-msg {
  display: block;
  position: relative;
}
.alert-msg.success {
  background-color: #346634;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#62c462, #57a957 25%, #346634);
  background-image: -moz-linear-gradient(top, #62c462, #57a957 25%, #346634);
  background-image: -ms-linear-gradient(#62c462, #57a957 25%, #346634);
  background-image: -o-linear-gradient(#62c462, #57a957 25%, #346634);
  background-image: linear-gradient(#62c462, #57a957 25%, #346634);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#346634', GradientType=0);
  border-color: #458845;
}
.alert-msg.error {
  background-color: #74231f;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#ee5f5b, #c43c35 25%, #74231f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35 25%, #74231f);
  background-image: -ms-linear-gradient(#ee5f5b, #c43c35 25%, #74231f);
  background-image: -o-linear-gradient(#ee5f5b, #c43c35 25%, #74231f);
  background-image: linear-gradient(#ee5f5b, #c43c35 25%, #74231f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#74231f', GradientType=0);
  border-color: #9c302a;
}
/******************************************************************************
 * Table
 *****************************************************************************/
table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #404040;
  margin: 0.75em auto;
}
th, td {
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #CCC;
  padding: 5px;
  line-height: 1.5em;
}
thead td, thead th {
  background: #EEE;
  text-align: center;
}
tbody th {
  text-align: right;
}
/******************************************************************************
 * You can't see it but it's layout is still there.
 *****************************************************************************/
.invisible {
  visibility: hidden;
}
/******************************************************************************
 * Remove the element completely from screen and readers
 *****************************************************************************/
.hide {
  display: none !important;
  visibility: hidden;
}
/******************************************************************************
 * Removes it from view, but still readable by screen readers
 *****************************************************************************/
.readabilyhide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/******************************************************************************
 * Print
 *****************************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
